{% extends "base.html" %}
{% load url from future %}
{% load rest_framework %}

{% block menu3 %}
          <li  class="active"><a href="/demo/debug">在线调试</a></li>
{% endblock %}
        
{% block jumbotron %}
<div class="row">
	<div class="col-md-6">
	    <div class="row">
	  		<div class="col-sm-3"  style="font-size:16px;text-align:right">       
				  <lable>API接口:</lable>
			</div>
			<div class="col-sm-9">
				 <div class="input-group">
					 <input type="text" class="form-control" value="" id="facename_input">
					 <div class="input-group-btn">
	        			 <button type="button" class="btn btn-default dropdown-toggle" style="font-size:14px;padding:6px;" data-toggle="dropdown">查看<span class="caret"></span></button>
						 <ul class="dropdown-menu pull-right"  id="selectInterface">
						 {% with interface_list=response.data %}
						  	{% for interface_dict in interface_list%}
						  		  <li>{{ interface_dict.context }}</li>
						  	{% endfor %}
						 {% endwith %}
						 </ul>
					</div>
				 </div>
			</div>
		</div>
		<div class="row" >
			<div class="col-sm-3"  style="font-size:16px;text-align:right">       
				  <lable>seckey:</lable>	  
			</div>
			<div class="col-sm-9">
				  <input type="text" class="form-control" placeholder="seckey" id="seckey_input">
			</div>
		</div>	
		<div class="row" >
			<div class="col-sm-3"  style="font-size:16px;text-align:right">       
				  <lable>请求方式:</lable>	  
			</div>
			<div class="col-sm-9" style="font-size:16px;">
				   <label>
				    <input type="radio" name="reqmthd" id="methodRadioGet" value="get">GET		    
				  </label>
				   <label>
				    <input type="radio" name="reqmthd" id="methodRadioPost" value="post">POST
				   </label>
			</div>
		</div>
		<div class="row" >
			<div class="col-sm-3"  style="font-size:16px;text-align:right">       
				  <lable>Data:</lable>	  
			</div>
			<div class="col-sm-9">
				  <textarea cols="40" rows="4" class="form-control" id="post_data_textarea"/></textarea>			
	    	</div>		
	    </div>	
	    <div class="row" >
	    	<div class="col-sm-3"></div>
	    	<div class="col-sm-4">
	    		<button type="button" class="btn btn-success form-control" id="CommitBtn" data-loading-text="正在加载..." style="font-size:16px;padding:0" title="Make a request on the top resource">提交</button>
	    	</div>
	    	<div class="col-sm-7">
	    		<span id="CommitError" style="font-size:16px;padding:0;color:red;"></span>
	    	</div>
	    </div>
	    <div class="row" >
	    	<hr>
	    </div>
	    <div class="row" >
	    	<div class="col-sm-3" style="font-size:16px;text-align:right">
	    	<lable>状态码：</lable>
	    	</div>
	    	<div class="col-sm-9">
	    		<input type="text" class="form-control" readonly="readonly" id="response_status_code">
	    	</div>
	    </div>
	    <div class="row" >
	    	<div class="col-sm-3" style="font-size:16px;text-align:right">
	    	<lable>回复头：</lable>
	    	</div>
	    	<div class="col-sm-9">
	    		<textarea cols="40" rows="6" class="form-control" id="response_header" readonly="readonly"></textarea>
	    	</div>
	    </div>
	    <div class="row" >
	    	<div class="col-sm-3" style="font-size:16px;text-align:right">
	    	<lable>回复数据：</lable>
	    	</div>
	    	<div class="col-sm-9">
	    		<textarea cols="40" rows="6" class="form-control" id="response_data_textarea" readonly="readonly"/></textarea>
	    	</div>
	    </div>
	</div>	
	<div class="col-md-6" style="font-size:16px;text-align:left">
           <div class="response-info">
                <pre class="prettyprint">
                {% autoescape off %}		
				<table class="table" id="interface_info">
				<caption>接口细节</caption>				
				    <tbody id="interface_body">				    
				    </tbody>			    		 			
				</table>
				</pre>
				{% endautoescape %}
		</div>
	</div>
</div>
{% endblock %}

{% block myscript %}		
	$(document).ready(function(){							
		$("#selectInterface li").click(function(){
			var content=$(this).text();
			var index=$(this).index();
			
			$("#post_data_textarea").html();
			$("#response_header").html("");
			$("#response_status_code").html("");
			$("#response_data_textarea").html("");
			
			$("#facename_input").val(content);	
			$("#seckey_input").val("ffff0400353038373133470e003a002b");

			{% with interface_list=response.data %}
		  	{% for interface_dict in interface_list%}
		  		  if(index+1 == {{ interface_dict.faceid }}){
		  		  		$("#interface_body").html("{% for k,v in interface_dict.items %}<tr><td width=18%>{{k}}<td>{{ v }}</td></td></tr>{% endfor%}");
		  		  		if("{{ interface_dict.reqMethod }}"=="POST"){
		  		  			$("#post_data_textarea").html("{{ interface_dict.inputEg }}");
		  		  			$("#methodRadioPost").attr("checked",true);
		  		  		}
		  		  		else{
		  		  			$("#methodRadioGet").attr("checked",true);
		  		  			$("#post_data_textarea").html("");
		  		  		}
		  		  		
		  		  }
		  	{% endfor %}
		 	{% endwith %}
		});
		
		$("#CommitBtn").click(function(){
			$("#CommitError").text("");
			$("#response_header").html("");
			$("#response_status_code").html("");
			$("#response_data_textarea").html("");
			
			var requrl=$("#facename_input").val();
			if(requrl==""){
				$("#CommitError").text("url不能为空！");
				return false;
			}
			
			var btn = $(this);
		    btn.button('loading');
			
			var reqmethod=$('input[type="radio"][name="reqmthd"]:checked').val(); 
			//alert(url+reqmethod);
			var postdata=$("#post_data_textarea").val();
			
			//错误处理还不正常
			$.ajax({
                       type: reqmethod,
                       url: requrl,
                       data: postdata,
                       contentType: "application/json;charset=utf-8",
                       success: function(data,statusText,request) {
                       		btn.button('reset');
                       		$("#response_status_code").html("HTTP "+request.status);
                       		$("#response_header").html(request.getAllResponseHeaders());
                       		$("#response_data_textarea").html(JSON.stringify(data));
                       },
                       error: function(XMLHttpRequest, textStatus, errorThrown) {
                       		btn.button('reset');
                       		$("#response_status_code").html("HTTP "+textStatus);
                       		$("#response_header").html(errorThrown);
                       }
             });
		});
	});
{% endblock %}
